#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//

// for project wide versioning...
#include <falcon/config.h>
#include <falcon/rc_version.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION FALCON_VERSION_RCINFO_N
 PRODUCTVERSION FALCON_VERSION_RCINFO_N
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x0L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041004b0"
        BEGIN
            VALUE "CompanyName", "Falcon Committee"
            VALUE "FileDescription", "Main Falcon engine"
            VALUE "FileVersion", FALCON_VERSION
            VALUE "InternalName", "engine"
            VALUE "LegalCopyright", "The Falcon Programming Language License"
            VALUE "OriginalFilename", "falcon_engine.dll"
            VALUE "ProductName", "The Falcon Programming Language"
            VALUE "ProductVersion", FALCON_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x410, 1200
    END
END
