.directory
*.fam
nbproject

# emacs
.#*

# vi
*.swp
*~

# Build directories
build
build_*
bld
bin
lib

# OS X
.DS_Store

# CMake-generated Makefiles
Makefile
*.cmake
CMakeFiles
CMakeCache.txt
install_manifest.txt
/nbproject/private/
