
MAKEINFO    ICON     DISCARDABLE     "..\..\doc\falcon-ico-base.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0, 8, 3, 0
PRODUCTVERSION 0, 8, 3, 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "The Falcon command line compiler\000"
            VALUE "CompanyName", "The Falcon Committee\000"
            VALUE "FileDescription", "The Falcon command line compiler\000"
            VALUE "FileVersion", "0.8.3"
            VALUE "InternalName", "falcon"
            VALUE "LegalCopyright", "The Falcon Programming Language License"
            VALUE "OriginalFilename", "falcon.exe\000"
            VALUE "ProductName", "The Falcon Programming Language\000"
            VALUE "ProductVersion", "0.8.3"
        END
    END
END
