/* CSS for Nest test sites */
body {
   font-family: arial, verdana, sans;
   font-size: 12pt;
}

p.signature {
      font-style:italic;
      font-size: 8pt;
}

p.gray {
   color: #A0A0A0;
   font-weight: bold;
   font-style:italic;
}


table.header {
   border-bottom:4px solid #336666;
   border-top:1px solid #C0E2D4;
   width:100%;
}

td.menu {
   width:85%;
}

td.login {
   text-align: right;
   padding: 5px;
   font-family:Helvetica,Arial,Verdana,sans-serif;
   color:#304030;
   background-color: #E0E0E0;
}

ul.main_menu, ul.main_menu_1 {
   margin:0;
   padding:0;
   list-style-type:none;
   width:auto;
   position:relative;
   display:block;
   
   text-transform:uppercase;
   font-size:12px;
   font-weight:bold;
   font-family:Helvetica,Arial,Verdana,sans-serif;
}

ul.main_menu_1 li {
   border-top:1px solid #C0E2D4;
}

ul.main_menu li{
   display:block;
   float:left;
   margin:0;
   pading:0;}

   
span.nest_menu_current {
   display:block;
   color:#304030;
   text-decoration:none;
   font-weight:bold;
   padding:12px 20px 0 20px;
   height:24px;
   background-color: #e0e0e0;
   }
   
span.nest_menu{
   display:block;
   color:#304030;
   text-decoration:none;
   font-weight:bold;
   padding:12px 20px 0 20px;
   height:24px;
   }


td.menu a{
   display:block;
   float:left;
   color:#874B46;
   text-decoration:none;
   font-weight:bold;
   padding:12px 20px 0 20px;
   height:24px;
   zorder:
   }
   
td.menu a:hover{
   color:#E76B66;
   }
