
body {
   margin: 25px;
   font-size: 12pt;
   font-family: verdana, helvetica, arial, sans serif, sans;
}

/*************************************************
   Navigation
*************************************************/

ul.navi_top {
   margin: 30px;
   padding: 6px  15px 6px 15px;
   border-top: 1px solid #303060;
   border-bottom: 1px solid #303060;
   list-style-type: none;
}

ul.navi_bottom {
   margin:30px;
   padding: 6px  15px 6px 15px;
   border-top: 1px solid #303060;
   border-bottom: 1px solid #303060;
   list-style-type: none;
}

ul.navi_bottom li.top, ul.navi_top li.top {
   width:100%;
   margin:2px;
   text-align: center;
   background: #F0F0FF;
}

ul.navi_bottom li.up, ul.navi_top li.up {
   width:100%;
   margin:2px;
   text-align: center;
   background: #E0E0FF;
}

ul.navi_bottom li.prev, ul.navi_top li.prev {
   width:46%;
   margin: 2px;
   float: left;
   text-align: center;
   background: #FFC0C0;
}


ul.navi_bottom li.next, ul.navi_top li.next {
   margin: 2px;
   margin-right:0;
   padding:0;
   width: 46%;
   float: right;
   text-align: center;
   background: #C0C0FF;
}

ul.navi_bottom li.clear, ul.navi_top li.clear {
   clear:both;
   width:100%;
}

/*************************************************
   TOC
*************************************************/
ul.TOC {
   list-style-type: none;
   font-size:14pt;
}

ul.TOC ul {
   list-style-type: none;
   font-size:12pt;
}

ul.TOC ul ul {
   list-style-type: none;
   font-size:10pt;
}

ul.TOC span.toc_number {
   font-weight: bold;
   padding-right: 18pt;
}

ul.TOC ul span.toc_number {
   padding-right: 14pt;
}

ul.TOC ul ul span.toc_number {
   padding-right: 12pt;
}

H1 span.toc_number {
   padding-right: 24pt;
}

/*************************************************
   Page
*************************************************/


div#page_body {
   clear:both;
   margin-left: 20pt;
}

h1 {
   background: #F0F0FF;
   color: #000030;
   margin-bottom: 40pt;
   padding-top: 4pt;
   padding-bottom: 4pt;
   margin-left: -20pt;

}

h2 {
   background: #F0F0FF;
   color: #000030;
   margin-top: 35pt;
   margin-bottom: 25pt;
   padding-top: 2pt;
   padding-bottom: 2pt;
   margin-left: -20pt;
}

h3 {
   margin-top: 20pt;
   margin-bottom: 15pt;

   background: #F0F0FF;
   color: #000030;
   margin-left: -20pt;

}

p.note {
   margin:30pt;
   padding:8pt;
   background: #E0E0FF;
   border: 1px solid #7070A0;
}


pre.prototype {
   color: #000030;
   padding-top: 12pt;
   margin-left: 30pt;
   font-size: 13pt;
}

table.prototype {
   margin-left: 30pt;
   width: 80%;

   border-bottom: 1px solid #7070A0;
   border-collapse: collapse;
}

table.prototype td {
   margin: 0;
   margin-bottom: 16pt;
   padding: 0;

   border:0;
   padding: 1px;
   padding-left: 3px;
   padding-right: 3px;
}

table.prototype tr.param td.name {
   padding-right: 15pt;
   font-family: courier, courier new, helvetica, fixed;
   font-weight: bold;
}

table.prototype tr.param td.content {
}

table.prototype tr.optparam td.name {
   padding-right: 15pt;
   font-family: courier, courier new, helvetica, fixed;
   font-weight: bold;
   background: #F0F0F0;
}

table.prototype tR.optparam td.content {
   background: #F0F0F0;
}

table.prototype tr.return td.name {
   padding-right: 15pt;
   font-weight: bold;
   font-style: italic;
   background: #F0F0FF;
}

table.prototype tr.return td.content {
   background: #F0F0FF;
}

table.prototype tr.raise td.name {
   padding-right: 15pt;
   font-weight: bold;
   font-style: italic;
   background: #FFF0F0;
}

table.prototype tr.raise td.content {
   background: #FFF0F0;
}


table.members {
   margin-top: 21pt;
   margin-bottom: 12pt;
}

table.members td {
   padding-right: 30pt;
   padding-left: 10pt;
   vertical-align: top;
}

table.members td.member_type {
   font-size: 13pt;
   font-weight: bold;
   padding: 3pt;
   padding-top: 18pt;
   padding-bottom: 8pt;
   border-bottom: 1px solid #7070A0;
}

a {
   text-decoration: none;
}

a:hover {
   background: #E0E0FF;
}

a:visited {
   color: #A02060;
}

div.signature {
   font-family: times new roman, times, serif;
   font-style: italic;
   font-size: 10pt;
   margin-top: 30pt;
   padding-top: 10pt;
}

p.brief {
   font-size: 13pt;
   font-style: italic;
}

